.national_advisory_table {
  width: 70%;
  border-collapse: collapse;
  .national_advisory_table_row {
    text-align: center;

    &:nth-child(odd) {
      background-color: rgb(221, 216, 216);
    }
  }
}
